 
 <ion-header>
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-icon (click)="profile()" name="person" style="font-size: 20px; margin-right: 10px;"></ion-icon>
      <ion-icon (click)="logout()" name="log-out" style="font-size: 20px; margin-right: 10px;"></ion-icon>
    </ion-buttons>
    <ion-title>FACT FIND PROCESS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="page-centered-element">
      <div class="content">
        <div>
          
        </div>
      </div>
    </div>
  </ion-content>
  